<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title></title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
        #Fheader {
          
   width : 100%;
  background-color: #52595d;
  color: #fff;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
  position : fixed;
    bottom: 0px;
    display: flex;
}
#Fbody{

  padding: 10px 10px 0px 10px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   

} 
    </style>
</head>
<body id="Fbody">
    <header id ="Fheader">
        <hr>
        <h3 class="Footerh">Hospital Management System</h3><br>
        <p class="Footerp">copyright reserved ©</p>
        <hr>
    </header>
    
</body>
</html>