<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../Views/css/styles.css">
</head>
<body id = "Hbody">

  <header id="Hheader">
    <img src="HealthLogo.jpg" alt="" id="icon" >
    <div id="icons">
   <a  href="https://www.facebook.com/" target = "blank"><img class = "logo" src="fblogo.png" ></a>
   <a href="https://www.instagram.com/" target = "blank"><img class = "logo" src="instagram.png"></a>
   <a href="https://www.youtube.com/" target = "blank"><img class = "logo" src="yticon.png"></a>
   <a href="https://www.twitter.com/" target = "blank"><img class = "logo" src="twitter.png"></a>
    </div>
    <a id = "logoutp" href="logout.php"><img id = "logoutic" src="logout.png"><br><br>Logout</a>
    <p id ="number">Call us @ +8801516527927</p>
    <h1 class = "head" id= "Hhead">Your Healthcare System</h1>
   
    
    <nav class = "nav" id= "Hnav">
   
      <a class="Hlink" href="#">Home</a>
      <a class="Hlink" href="#">Services</a>
      <a class="Hlink" href="#">About Us</a>
      <a class="Hlink" href="#">Contact</a>
      
    </nav>
   
   
  </header>

  <!-- The rest of your website content goes here -->

</body>
</html>
